.packListRow {
    display: grid;
    padding: 16px 24px;
}

.packListRow {
    grid-template-columns: repeat(5, 1fr);
}

.btns {
    display: flex;
    align-items: flex-start;
}

.btn {
    border: none;
    margin-right: 6px;
    font-size: 12px;
    padding: 5px 6px;
    color: #21268F;
    border-radius: 2px;
    background-color: #D7D8EF;
    cursor: pointer;
}

.btnDelete {
    color: #FFF;
    background-color: #F1453D;
}

.segregateRow {
    background-color: #F8F7FD;
}