.questionWrapper {
    display: flex;
    flex-direction: column;
    width: 413px;
    min-height: 300px;
    margin: 60px auto;
    background: #F9F9FE;
    border-radius: 8px;
    padding: 30px;
}

.title {
    color: #2D2E46;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin: 6px auto;
}

.description {
    color: #2D2E46;
    font-family: 'SF UI Display', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 27px 0;
}

.rateWrapper {
    display: flex;
    flex-direction: column;

}

.rate {
    color: #2D2E46;
    margin: 12px 6px;
    font-family: 'SF UI Display', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}


form input[type=radio] {
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #2D2E46;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin: 0 10px 3px 0;
}

form input[type=radio]:focus {
    -webkit-box-shadow: 0 0 0 0 #F9F9FE inset !important;
    border: 3px solid #21268F;
    /*background-color: #21268F;*/
}

.evaluates:hover {
    cursor: pointer;
}

.evaluates:hover:disabled {
    cursor: initial;
}




.btnWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cancelButton {
    width: 124px;
    margin: 30px auto;
    border: none;
    background: #D7D8EF;
    border-radius: 30px;
    color: #21268F;
    padding: 9px 0;
    font-family: 'SF UI Display', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25)
}


.mainButton {
    width: 187px;
    margin: 30px auto;
    border: none;
    background: #21268F;
    box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    color: #ECECF9;
    padding: 9px 0;
    font-family: 'SF UI Display', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.cancelButton:hover,
.mainButton:hover {
    cursor: pointer;
}

.cancelButton:hover:disabled,
.mainButton:hover:disabled {
    cursor: initial;
}
