.table {
    display: flex;
    flex-direction: column;
}

.packListRow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
}

.packRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}

.segregateRow {
    background-color: #F8F7FD;
}